.fc .fc-button-primary{
}
.fc .fc-scrollgrid{
    border-radius: 2%;
}
.fc-col-header-cell-cushion{
    text-decoration: none;
    color: black;
}

.fc-daygrid-day-number{
    text-decoration: none;
    color: black;
}

.fc .fc-daygrid-day.fc-day-today{
    background-color: yellow;
    
}