.container {
    position: relative;
}

.imgAccueil {
    position: relative;
    z-index: 1;
    width: 90%;
    border-radius: 5px;
}

.accueil {
    position: absolute;
    top: 100px;
    left: 500px;
    width: 600px;
    height: 10px;
    z-index: 2;
    font-size: 200%
}

.card {
    display: flex;
    align-items: center;
    padding: 30px 40px;
    gap: 10px;
    flex-wrap: wrap;
}

.card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% /5);
}


.rowLastAnnoncement {
    padding: 50px 0px;
}