.footer {
    background-color: rgb(101, 101, 126);
    height: 30vh;
    padding-top: 10px;
}

.rowGlobal{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0px;
    margin-left: 10%;
}

img{
    width: 25%;
}

.row2{
    display: grid;
}
.rowRight{
    display: flex;
    justify-content: space-around;
    
}