.header{
    display: flex;
    align-items: center;
    height: 15vh;
    background-color: rgb(101, 101, 126);
    width: 100%;
    
}
.container.containerMenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
nav{
    width: 100%;
    
}


